// [class^=btn] {
    .btn {
        display: flex;
        align-items: center;
        text-decoration: none;
        @include type-font-title;
        border-radius: $border-radius;
        box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.4);
        @include transition-all;
      
        & span {
          margin-right: .4rem;
        }
      
        &:hover, &:focus {
          box-shadow: 0px 0px 12px 0px $white;
        }
      
        &-ocher {
          margin-bottom: $spacing-buttons;
          padding: .8rem 2rem;
          font-size: 1.4rem;
          font-weight: 600;
          color: $usco-wine;
          background-color: $usco-ocher;
      
          &:hover, &:focus {
            background-color: $usco-ocher-dark;
          }
        }
      
        &-degra {
          padding: 1.5rem 2rem;
          font-size: 1.2rem;
          justify-content: center;
          color: $usco-ocher;
          border: $border-width solid $usco-wine-100;
          background: linear-gradient(180deg, $usco-wine 0%, $usco-wine-dark 37%);
      
          &.p-xl {
            padding-top: 3rem;
            padding-bottom: 3rem;
          }
      
          &:hover, &:focus {
            color: $usco-ocher-100;
            background: linear-gradient(180deg, $usco-wine 0%, $usco-wine-dark 60%);
          }
        }
      
        &-wine {
          padding: .8rem 2rem;
          font-size: 1.4rem;
          color: $usco-ocher;
          background-color: $usco-wine;
          border: $border-width solid rgba($usco-wine-dark, .3);
      
          &:hover, &:focus {
            background-color: $usco-wine-dark;
          }
        }
      }
      