.nav-go {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: $border-radius;

    & button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem 1.2rem .5rem 1.8rem;
        @include type-font-title;
        font-size: 1rem;
        color: rgba($white,.6);
        cursor: pointer;
        background-color: transparent;
        border: none;
        border: 2px solid rgba($white,.3);
        border-radius: $border-radius;
        // transition: background .3s ease-in-out;
        @include transition-all();

        &::after {
            margin-left: .2rem;
            font-family: "Material Icons";
            font-size: 1rem;
            content: "arrow_downward";
            // color: $usco-ocher-dark;
        }

        & .material-icons {
            margin-left: .2rem;
            font-size: 1rem;
        }
    }

    &:last-child {
        & button::after {
            content: "arrow_upward";
        }
    }
}

.bk-wine {
    & .nav-go {
        background-color: rgba($black,.2);

        & button {
            background-color: rgba($usco-wine-dark,.3);
        }
    }
}

.bk-ocher {
    & .nav-go {
        background-color: rgba($usco-ocher-dark,.25);

        & button {
            color: rgba($gray-dark,.8);
            background-color: rgba($usco-ocher,.4);
            border-color: rgba($gray-dark,.2);
        }
    }
}


.nav-go {
    & button {
        &:hover, &:focus {
            color: $white;
            background-color: rgba($black,.3);
            border-color: rgba($usco-ocher-dark,.7);
        }    
    }
}
