.panel {
    display: flex;
    // align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    z-index: 999;
    box-sizing: border-box;
    background-color: $usco-wine;
  
    &.home {
      z-index: 1;
      background: url(../img/usco-back.svg) -22% center no-repeat;
      background-size: auto 106%;
      // // background: radial-gradient(ellipse at center, #ffffff 0%, #CFD8DC 100%);
      // // box-shadow: inset 0px 0px 90px 12px rgba(0,0,0,0.9);
      box-shadow: inset 120px 100px 250px rgba(0,0,0,0.3), inset -120px -100px 250px rgba(0,0,0,0.2);
    //   animation: animate-shadowinset 5s linear infinite;
    }
  
    &.fade {
      opacity: 0;
      transition: all 800ms;
      pointer-events: none;
  
      &:target {
        opacity: 1;
        pointer-events: auto;
      }
    }
  
    &.slice {
      transition: all 800ms cubic-bezier(0.19, 1, 0.56, 1);
      transform: translate3d(0, -100%, 0);
  
      &:target {
        transform: translate3d(0, 0, 0);
      }
    }
  
    &__content {
      opacity: 0;
      margin-top: -5%;
      padding: 3rem 6rem;
      box-sizing: border-box;
      will-change: margin-top;
      transition: all 700ms;
      transition-delay: 600ms;
  
      &--info {
        padding-right: 1rem;
        max-height: calc(100vh - 6rem);
        overflow: auto;
        box-sizing: border-box;
        // background-color: aqua;
  
        &::-webkit-scrollbar {
          width: 10px;
          height: 10px;
        }
        &::-webkit-scrollbar-track {
          background-clip: content-box;
          background-color: rgba(0,0,0,0.2);
          border: 4px solid transparent;
        }
        &::-webkit-scrollbar-thumb {
          background-color: rgba(0,0,0,0.6);
        }
        // &::-webkit-scrollbar-thumb:hover {
        //     background-color: #e67200;
        // }
  
        // & a {
        //   // text-decoration: none;
        //   color: $gray-dark;
        //   background-image: linear-gradient(rgba($usco-ocher,0) 50%, $usco-wine 50%);
        //   background-size: auto 200%;
        //   // transition: background 0.3s ease-in-out;
        //   @include transition-all(.2s);
  
        //   &:hover, &:focus {
        //     color: $usco-ocher;
        //     background-position-y: 100%;
        //   }
        // }

        & > h2 {
          margin-top: 0;
        }
  
        & a {
          text-decoration: none;
          border-bottom: 1px solid $gray-400;
          transition: color linear .6s;

          &, &:visited {
            position: relative;
            color: $gray-dark;

            // & .material-icons {
            //   font-size: 1.1rem;
            //   // text-decoration: underline;
            // }
          }

          &:after, &:visited:after {
            content: "";
            height: 1px;
            position: absolute;
            bottom: -0.1px;
            left: 0;
            width: 0%;
            background: $usco-wine;
            transition: .4s;
          }
          
          // &.material-icons::before {
          //   content: "home";
          //   color: blue;
          // }

          &:hover:after, &:focus:after, &:visited:hover:after {
            width: 100%;
          }
        }

        // & a.block, & a:visited.block {
        //   display: block;
        //   padding: 0.5em;
        // }
        // & a.block:hover, & a:visited.block:hover {
        //   background: #eee;
        // }
  
  
        & img {
          max-width: 100%;
          height: auto;
          border-radius: $border-radius;
        }
  
        & ol, & ul {
          margin: 0;
          padding: 0;
          list-style-type: none;
  
          & li {
            position: relative;
            counter-increment: step-counter;
          }
        }
  
        & ul {
          & li {
            margin: 0 0 1rem 0.7rem;

            &::before {
              position: relative;
              content: "\203A";
              margin: -0.3rem 0 0  -0.7rem;
              padding-right: .4rem;
              font-size: 1.2rem;
              color: $usco-wine;
            }
          }
        }

        & ol {
          & li {
            display: flex;
            align-items: center;
            padding: 1rem 0;
            border-bottom: 1px solid rgba($black,.1);
    
            &::before {
              content: counter(step-counter)'.';
              margin: 0 10px 0 0;
              padding: .4rem;
              min-width: 30px;
              text-align: right;
              @include type-font-title;
              background-color: rgba($black,.05);
              font-size: 1.2rem;
              color: $usco-wine-dark;
            }
          }
        }
      }
    }
  
    &:target .panel__content {
      opacity: 1;
      margin-top: 0;
    }
  
    .close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      display: flex;
      margin-right: 20px;
      width: 60px;
      height: 60px;
      text-decoration: none;
      cursor: pointer;
      background: transparent;
      box-shadow: none;
      border: 1px solid $usco-ocher;
      border-radius: 50%;
      box-sizing: border-box;
    
      &:last-child {
        margin-right: 0;
      }
    
      &:before, &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        height: 2px;
        background-color: $usco-ocher;
        transition: 0.3s ease-out;
      }
    
      &:after {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:before {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    
      &:hover, &:focus {
        &:before, &:after {
          transform: translate(-50%, -50%) rotate(180deg);
        }
      }
    }
  
    &.home {
      & .panel__content {
        display: grid;
        gap: 80px;
        grid-template-columns: 1fr 4fr;
        // grid-template-columns: 300px 1fr;
  
        &--logos {
          & img {
            width: 100%;

            &.calidad {
                margin-top: 1.5rem;
            }
          }
        }
  
        &--nav {  
          & nav {
            & div {
              display: grid;
  
              &:first-child {
                grid-template-columns: 4fr 2fr;
              }
  
              &:nth-child(2) {
                padding: $spacing-buttons 0;
                gap: $spacing-buttons;
                grid-template-columns: repeat(3, 1fr);
              }
  
              &:nth-child(3) {
                margin-top: $spacing-buttons * .5;
                gap: $spacing-buttons;
                grid-template-columns: 5fr 5fr 1fr;
              }
            }
          }        
        }
      }
  
      &.view .panel__content {
        opacity: 1;
      }
    }
  
    &.bk-wine {
      background: url(../img/usco-back.svg) 122% center no-repeat;
      background-size: auto 106%;
      background-color: $usco-wine-dark;

      & h4 {
        & span {
          padding: .2rem .8rem;
          font-size: .9rem;
          background-color: rgba($black,.6);
          border-radius: $border-radius;
        }
      }

      & a {
        &, &:visited {
          color: $usco-ocher;
          border-color: $usco-ocher;
        }

        &:hover, &:focus {
          color: $usco-ocher-100;
        }

        &:after, &:visited:after {
          background: $usco-ocher-100;
        }
      }

      & ul {
        & li {
          &::before {
            color: $gray-400;
          }
        }
      }
    }
  
    &.bk-ocher {
      color: $gray-dark;
      background-color: $usco-ocher;
  
      @for $i from 1 through 6 {
        h#{$i} {
            color: $usco-wine;
        }
      }
  
      & .close {
        background-color: $usco-ocher;
        border-color: $usco-wine;
  
        &:before, &:after {
          background-color: $usco-wine;
        }
      }

      a {
        &, &:visited {
          color: $usco-wine-dark;
          border-color: $usco-wine-dark;
        }

        &:hover, &:focus {
          color: $usco-wine;
        }
      }
    }
}

@media (max-width: map-get($grid-breakpoints, "xxl")) {
    .panel {
        &.home {
            & .panel__content {
                gap: 40px;
            }
        }
    }
}

@media (max-width: map-get($grid-breakpoints, "xl")) {
    .panel {
        &__content {
            padding: 2rem 4rem;
        }

        &.home {
            & .panel__content {
                gap: 30px;
                grid-template-columns: 1fr;

                &--logos {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-top: 1rem;

                    & img {
                        width: auto;
                        height: 90px;

                        &.calidad {
                            height: 84px;
                            margin: 0 0 0 1.5rem;
                        }            
                    }
                }

                &--nav {
                    & nav {
                        & div {            
                            &:first-child { //, &:nth-child(3)
                                display: flex;
                                justify-content: center;
                            }
                        }

                        & .btn-degra.p-xl {
                            padding-top: 2rem;
                            padding-bottom: 2rem;
                        }
                    }
                }
            }
        }
    }

    .btn {
        text-align: center;
    }
}

@media (max-width: map-get($grid-breakpoints, "lg")) {
    .panel {
        &__content {
            padding: 2rem 4rem;
        }

        &.home .panel__content {
            padding: 1rem;
            overflow-x: auto;

            &--logos {
                // padding-top: 1rem;

                & img {
                    width: auto;
                    height: 70px;

                    &.calidad {
                        height: 64px;
                        margin: 0 0 0 1rem;
                    }            
                }
            }

            &--nav {
                & nav {
                    & div {
                        &:nth-child(2) {
                            grid-template-columns: repeat(2, 1fr);

                            & .btn {
                                &:first-child, &:nth-child(4) {
                                    grid-column: span 2;
                                }
                            }
                        }

                        .btn {
                            padding: 1rem .4rem !important;

                            &.btn-ocher {
                                margin-bottom: .4rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: map-get($grid-breakpoints, "md")) {
    .panel {
        &__content {
            padding: 2rem 3rem;
        }

        &.home .panel__content {
          &--nav nav div:nth-child(3) {
            gap: $spacing-buttons * .8;
            grid-template-columns: 1fr;
          }
        }
    }
}

@media (max-width: map-get($grid-breakpoints, "sm")) {
    .panel {
        &__content {
            padding: 1.5rem 2rem;
        }

        &.home .panel__content {
            padding: 0 1rem;

            &--logos {
                flex-flow: column;
                padding-top: 0;

                // & img {
                //     width: auto;
                //     height: 50px;

                //     &.calidad {
                //         height: 44px;
                //         margin: 0 0 0 .8rem;
                //     }            
                // }
            }

            &--nav {
                & nav {
                    & div {
                        gap: .6rem;

                        .btn {
                            padding: .5rem .3rem !important;

                            &.btn-ocher {
                                margin-bottom: .2rem;

                                & .material-icons {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }    
}

@media (max-width: map-get($grid-breakpoints, "xm")) {
    .btn-wine {
        text-align: left !important;
    }    
}
