table {
    width: 100%;
    max-width: 100%;
    // border-collapse: collapse;
    border-spacing: .1rem;
    // background-color: rgba($white,.8);
    border-radius: $border-radius;
    // box-shadow: 0 2px 6px 0 rgba($black,.9);
    // box-shadow: 0px 0px 12px 0px $white;

    & caption {
        display: none;
    }

    & th, & td {
        // border-right: 1px solid rgba($white,.5);

        & p {
            margin: 0;
        }        
    }

    & th {
        padding: 1.2rem .8rem;
        background-color: rgba($usco-ocher-dark,.5);
    }

    & th {
        &:first-child {
            border-radius: $border-radius 0 0 0;
        }
        &:last-child {
            border-radius: 0 $border-radius 0 0;
        }
    }

    & td {
        padding: .8rem;
    }

    & tr {
        background-color: rgba($white,.05);

        &:nth-child(even){
            background-color: rgba($white,.2);
        }

        &:last-child {
            & th:last-child {
                border: none;
            }

            // & td:last-child {

            & td {
                &:first-child {
                    border-radius: 0 0 0 $border-radius;
                }
                &:last-child {
                    border-radius: 0 0 $border-radius 0;
                }
            }
        }
    }
}
  
@media screen and (max-width: map-get($grid-breakpoints, "lg")) {
    table {
        border: 0;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead {
        display: none;
    }
    table tr {
        // border-bottom: 3px solid $gray-200;
        display: block;
        margin-bottom: .625em;
        border-radius: 0;
    }
    table td {
        display: block;
        // font-size: .8em;
        border-bottom: 1px solid $gray-200;
        border-radius: 0;
        // text-align: right;
    }
    table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
}
  